.button {
    background-color: #FF8FA3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: 1.2s;
    font-family: 'system-ui';
  }
  
.button:hover {
    background-color: #FF4D6D;

}

div {
    background-color: #FFF0F3;
    font-family: 'Handjet';
}

.card {
    display: inline-block;
    padding-right: 5%;
    padding-left: 5%;
}

.player {
    display: inline-flex;
    width: auto;
    height: auto;
}