<div class="card">
    <audio #myAudio>
        <source src="TownTheme.mp3" type="audio/mpeg">
    </audio>
    <img src="frog.gif">
    <h1>Welcome home my love!</h1>
    <div class="player">
        <button class="button" (click)="myAudio.play()">
            <img src="play-btn.png">
        </button>
        <button class="button" (click)="myAudio.pause()">
            <img src="pause-btn.png">
        </button>
    </div>
    <h3>Como estás mi amor? Espero que estés muy bien descansado, disfrutando el día y puras cosas bonitas!</h3>
    <h3>Aún es un trabajo en proceso, pero mira es una mini página con música</h3>
    <h3> como la que te gusta, nomas que está es sin copyright jajajajaja</h3>
    <h3> Espero te guste esto chiquito y que es un heads-up a que puedo meterle mas cosas según aprenda jiji</h3>
    <img src="Health potion.png">
</div>